In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
df = pd.read_csv('/content/gdrive/MyDrive/data.csv')

In [ ]:
df.head()

     bodyTemp  bodyPain  runnyNose  ...  vomiting  Diarrhea  infectionProb
0  101.441399         1          0  ...         0         0              1
1  100.982812         0          0  ...         0         0              0
2  101.185510         0          1  ...         0         0              0
3   99.841183         1          1  ...         0         1              1
4   99.167192         0          0  ...         1         0              1

[5 rows x 11 columns]

In [ ]:
df.shape

(2499, 11)

In [ ]:
df.tail()

        bodyTemp  bodyPain  runnyNose  ...  vomiting  Diarrhea  infectionProb
2494   99.947438         0          1  ...         1         1              0
2495   98.350472         0          0  ...         0         0              0
2496  100.196342         0          1  ...         1         0              0
2497   98.933927         0          0  ...         0         1              1
2498  100.194224         1          0  ...         0         1              1

[5 rows x 11 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bodyTemp          2499 non-null   float64
 1   bodyPain          2499 non-null   int64
 2   runnyNose         2499 non-null   int64
 3   diffBreath        2499 non-null   int64
 4   o2Saturation      2499 non-null   int64
 5   travelHistory     2499 non-null   int64
 6   age               2499 non-null   int64
 7   LossofTasteSmell  2499 non-null   int64
 8   vomiting          2499 non-null   int64
 9   Diarrhea          2499 non-null   int64
 10  infectionProb     2499 non-null   int64
dtypes: float64(1), int64(10)
memory usage: 214.9 KB

In [ ]:
df['infectionProb'].value_counts()

1    1340
0    1159
Name: infectionProb, dtype: int64

In [ ]:
df.describe()

          bodyTemp     bodyPain  ...     Diarrhea  infectionProb
count  2499.000000  2499.000000  ...  2499.000000    2499.000000
mean    100.138546     0.422569  ...     0.455782       0.536214
std       1.096522     0.494067  ...     0.498141       0.498787
min      98.015804     0.000000  ...     0.000000       0.000000
25%      99.179472     0.000000  ...     0.000000       0.000000
50%     100.196342     0.000000  ...     0.000000       1.000000
75%     101.137272     1.000000  ...     1.000000       1.000000
max     101.998962     1.000000  ...     1.000000       1.000000

[8 rows x 11 columns]

In [ ]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [ ]:
np.random.permutation(12)

array([ 4, 10,  2,  0,  6,  7,  3,  5,  1,  8,  9, 11])

In [ ]:
train,test = data_split(df,0.3)

In [ ]:
train

        bodyTemp  bodyPain  runnyNose  ...  vomiting  Diarrhea  infectionProb
2121  100.181556         0          1  ...         1         1              0
1779   99.421297         1          0  ...         0         0              1
115    99.352266         1          0  ...         1         0              1
940    98.749612         1          1  ...         0         1              1
744   100.982812         0          0  ...         0         0              0
...          ...       ...        ...  ...       ...       ...            ...
1638   98.216911         1          0  ...         1         0              1
1095  101.051166         0          1  ...         1         1              1
1130  100.308015         0          0  ...         1         0              0
1294  100.982812         0          0  ...         0         0              0
860   101.933292         0          0  ...         1         1              0

[1750 rows x 11 columns]

In [ ]:
test

        bodyTemp  bodyPain  runnyNose  ...  vomiting  Diarrhea  infectionProb
2319   98.357745         0          1  ...         0         1              0
1865  100.601893         1          1  ...         0         1              1
902   101.501663         0          0  ...         0         0              0
2240  100.763833         1          0  ...         1         1              1
1285  101.051166         0          1  ...         1         1              1
...          ...       ...        ...  ...       ...       ...            ...
121   100.549280         1          0  ...         1         0              1
2194   98.350472         0          0  ...         0         0              0
1550  101.185510         0          1  ...         0         0              0
1901  100.364489         0          1  ...         1         0              1
2263   99.841183         1          1  ...         0         1              1

[749 rows x 11 columns]

In [ ]:
X_train = train[['bodyTemp','bodyPain','runnyNose','diffBreath','o2Saturation','travelHistory','age','LossofTasteSmell','vomiting','Diarrhea']].to_numpy()
X_test = test[['bodyTemp','bodyPain','runnyNose','diffBreath','o2Saturation','travelHistory','age','LossofTasteSmell','vomiting','Diarrhea']].to_numpy()

In [ ]:
y_train = train[['infectionProb']].to_numpy().reshape(1750 ,)
y_test = test[['infectionProb']].to_numpy().reshape(749 ,)

In [ ]:
y_train

array([0, 1, 1, ..., 0, 0, 0])

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
clf = LogisticRegression()
clf.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
infProb = clf.predict_proba([[102,1,1,1,88,1,70,1,1,1]])[0][1]

In [ ]:
infProb

0.9166836904127095

In [ ]:
 import pickle

In [ ]:
with open('clf.pkl','wb') as file:
  pickle.dump(clf,file)

In [ ]:
with open('model_clf','rb') as f:
  mp = pickle.load(f)

In [ ]:
mp.predict_proba([[102,1,1,1,88,1,70,1,1,1]])[0][1]

0.9166836904127095